
*{
    padding: 0;
    margin: 0;
    font-size: 'Josafin Sans', sans-serif;
    box-sizing: border-box;
}

header{
    height: 10vh ;
   
    background-color: white;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    z-index: 2;

     
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%; 
    background:white;
    
    width: 100%;

} 
main{
    background-color: antiquewhite;
    padding-top:70px;
    padding: 5px;
    margin: 5px;
}
#myName{
    text-align: center;
}
nav i {
   cursor: pointer;
   color: #191919;
}
span{
    color: #f9004d;
}

ul li a {
    color: black;
    text-decoration: none;
    font-size: bold;
    text-transform: capitalize;
}/*
nav ul li a:hover{
    color:#f9004d;
    transition: 0.5s;

}
ul{color: #101010;}
.content{
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 8%;
    transform: translateY()-50%;
}
h1{
    color: black;
    margin: 20px 0px 20px;
    font-size: 15px;
}*/
h3{
  color: black;
  font-size: 10px;
  margin: 4px;


}
h4{
    color: rgba(75, 33, 75, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}


/* about */
.about{
   
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(249, 240, 240);
    text-align: center;

}
 

img{
    
    height: auto;
    width: 50%;
    border-radius: 1000px;
    align-items: center;
}/*
.about-text{
    width: 200px;
    align-items: center;
    justify-content: center;
} */
/* .main{
    width: 1100px;
    max-width: 95%;
} */

.card{
    height: 70%;
    width: 90%;
    padding: 9px 9px;
    background: #f8f1f1;
    border-radius: 12px;
    margin: 9px 9px;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}
.card p{
    font-size: 20px;
    display: flex;
    text-align: center;
    margin: 5px 0px;
    color: #212020;
}
h5{
    color: rgb(177, 110, 110);
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}
 p{
    
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.demo{
    
    height: auto;
    width: 100%;
}
/* footer */
form button{
    
    background: transparent; 
    color: rgb(220, 143, 143);
    text-decoration: none;
    border: 1px solid #110d0d;
    font-weight: bold;
    padding: 10px 22px;
    border-radius: 12px;
    transition: .4s;
   text-align: center;
    

 } 
 footer{
    position:relative; 
    width: 90%;
    height: 180px;
    background-color: #080404;
    padding: 0;
    margin: 0;
   
    /* display: flex; */
    
    align-items: center;
    justify-content: center;
 }
 .footer h2{
    color: rgb(209, 189, 189);
    justify-content: center;
    padding-top: 8%;
    text-align: center;
 }
 form label{
    padding: 2px 2px;
    margin: 2px 2px;
    color: #000;
    font-weight: bold;
 }
 
    .card-boxes{
        display: flex;
        grid-template-rows: auto;
        flex-direction: column;
    }

    form input{
        color: rgb(19, 16, 16);
        background-color: #fff;
        height: 17%;
        width: 80%;
        box-shadow: 2% 2% 2%;
        border:  rgb(28, 18, 18);
        border-radius: 8px;
    }
    form textarea {
        border: solid #000;
        border-radius: 5px;
        background: #fffeff;

    }
    form {
        padding: 10px;
        margin: 10px;
        text-align: center;
        height: 100%;
        width: 90%;
        background:#fffeff;
        border-radius: 12px;
    }

    